ENV=local
SECRET_TOKEN=secret_token

SERVER_ADDRESS=
SERVER_TIMEOUT=4s
SERVER_IDLE_TIMEOUT=30s
SERVER_SHUTDOWN_TIMEOUT=10s

POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DATABASE=

REDIS_ADDRESS=

MINIO_ADDRESS=
MINIO_ROOT_USER=
MINIO_ROOT_PASSWORD=
MINIO_BUCKET_NAME=

TIME_ZONE=UTC